<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to ANRES DSI Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style='text-align: center;'>
        <h1>ยินดีต้อนรับสู่ ANRES DSI Project//TEST</h1>
        <br />
        <a href="/InsertData" class="btn btn-primary btn-md">แจ้งข้อมูลการกระทำความผิด</a>
        <br />
        <br />
        <a href="/Search/user" class="btn btn-info btn-md">ค้นหาด้วยชื่อของผู้แจ้ง</a>
        <br />
        <br />
        <a href="/Search/suspect" class="btn btn-info btn-md">ค้นหาด้วยชื่อผู้ต้องสงสัย</a>
        <br />
        <br />
        <a href="/Search/case" class="btn btn-info btn-md">ค้นหาด้วยคดี</a>
        <br />
        <br />
        <a href="/Search/date" class="btn btn-info btn-md">ค้นหาด้วยวันที่แจ้ง</a>
        <br />
        <br />
        <a href="/Search/type" class="btn btn-info btn-md">ค้นหาด้วยประเภท</a>

    </div>
</body>

</html>