<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SearchCase</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>ค้นหาด้วยคดี</h1>
        <form action="{{ url_for('Showcase') }}" method="post">
            <div class="form-group">
                <label for="Case">ประเภทของคดี</label>
                <br>
                <input type="radio" name="Case" value="Hacking_to_modify_or_steal_or_destroy_Data"> Hacking to modify /
                steal / destroy Data
                <br>
                <input type="radio" name="Case" value="Selling products_or_Services_scam "> Selling products / Services
                scam
                <br>
                <input type="radio" name="Case" value="Fake_to_others"> Fake to others
                <br>
                <input type="radio" name="Case" value="Scam_to_transfer_money"> Scam to transfer money
                <br>
                <input type="radio" name="Case" value="Email_scam"> Email scam
                <br>
                <input type="radio" name="Case" value="Romance_scam"> Romance scam
                <br>
                <input type="radio" name="Case" value="Blackmail"> Blackmail
                <br>
                <input type="radio" name="Case" value="Defamation"> Defamation
            </div>
            <a class="btn btn-success" href="/">กลับหน้าแรก</a>
            <button type="submit" class="pull-right btn btn-primary">ค้นหา</button>
        </form>
    </div>
</body>

</html>