<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Python</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1 align="center">Test Data Flask | Python</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ลำดับที่</th>
                    <th>ชื่อผู้แจ้ง</th>
                    <th>วันที่แจ้ง(วัน/เดือน/ปี)</th>
                    <th>ประเภทของคดี</th>
                    <th>ข้อมูลผู้ต้องสงสัย</th>
                </tr>
            </thead>
            <tbody>
                {% for i in count %}
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{name[i]}}</td>
                    <td>{{date[i]}}</td>
                    <td>{{case[i]}}</td>
                    <!-- <td>{{susname[i]}}</td> -->
                    <!-- <td>{{sussocial[i]}}</td> -->
                    <!-- <td>{{socialtype[i]}}</td> -->
                    <!-- <td>{{key[i]}}</td> -->
                    <td>
                        <a href="" class="btn btn-success btn-xs" data-toggle="modal"
                            data-target="#modalinfo{{ key[i] }}">Info</a>
                    </td>
                </tr>
                <div id="modalinfo{{key[i]}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">ข้อมูลของผู้ต้องสงสัย</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>ชื่อผู้ต้องสงสัย: {{susname[i]}}</label>
                                </div>
                                <div class="form-group">
                                    <label>ประเภทของแอพลิเคชั่น: {{socialtype[i]}}</label>
                                </div>
                                <div class="form-group">
                                    <label>ชื่อในแอพลิเคชั่น: {{sussocial[i]}}</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn btn-primary">ย้อนหลับ</a>
    </div>
</body>

</html>